.button_container {
  background-color: aqua;
}

.inputContainer {
  width: 420px;
  padding: 4px;
  height: 60px;
  margin-top: 20px;
}

.styledInput {
  background-color: #767676;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  padding-left: 12px;
}

.inputLabel {
  color: white;
  font-size: 22px;
  font-weight: 800;
  padding-left: 10px;
}

.buttonContainer {
  width: 320px;
  height: 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.buttonCon {
  border-radius: 10px;
  background-color: #ffd33d;
  color: black;
  font-size: 22px;
  font-weight: 800;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-width: 0;
  cursor: pointer;
}

.buttonCon:hover {
  transform: scale(1.1);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.post:hover {
  background-color: #3a3f45;
}
.post * {
  color: inherit;
  background-color: transparent; /* Spre훾ava pojedina훾ne div-ove da imaju razli훾itu boju */
}
.postTop {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 20px;
}

.postLike {
  display: flex;
}

.userLink:hover {
  cursor: pointer;
  color: #ffd33d;
  border-bottom: 1px solid #ffd33d;
}

.time {
  color: #767676;
}
.postLike {
  display: flex;
  gap: 40px;
}
.sub {
  display: flex;
  gap: 4px;
}
.ImageContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0; /* Pozadinska boja za "No Img" */
  font-size: 0.8rem;
  font-weight: bold;
  color: #999;
}

.commImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Da slika popuni krug bez izobli훾enja */
}

.noImageText {
  margin: 0;
}
