.homeContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  /* border: 1px solid wheat; */

  flex: 1;
  margin-right: 20rem;
}

.homeNav {
  display: flex;
  gap: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.homeNav a {
  text-decoration: none;
  color: #ffd33d;
  font-size: 20px;
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.postForm button {
  width: 100px;
  font-size: 18px;
  margin-left: auto;
  margin-right: 20px;
  background-color: white;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}
.postForm textarea {
  font-size: 24px;
  height: 200px;
  color: white;
}

.userSearchForm {
  display: flex;
  gap: 20px;
}

.userSearchForm input {
  background-color: wheat;
  border-radius: 4px;
  border: 0;
  height: 30px;
  font-size: 18px;
  flex: 1;
  padding-left: 8px;
}
.userSearchForm button {
  background-color: wheat;
  border-radius: 4px;
  border: 0;
  height: 30px;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}
.searchUsers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.userS {
  display: flex;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  height: 30px;
}
.userS:hover {
  background-color: #3a3f45;
}
.userS * {
  color: inherit;
  background-color: transparent; /* Sprečava pojedinačne div-ove da imaju različitu boju */
}
.searchUsers {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.nameAndMail {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
}
.goBack {
  margin-bottom: 20px;
  margin-left: 10px;
}
.backBtn {
  background-color: white;
  color: black;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.addComment {
  padding: 20px;
  margin-top: 20px;
}
.commentForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.commentForm input {
  border: 0;
  color: white;
  font-size: 18px;
  height: 30px;
}
.commentForm button {
  margin-left: auto;
  background-color: white;
  color: black;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.comm {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.recentFollow {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffd33d;
}

.recentFollow.active {
  border-bottom: 2px solid #007bff; /* Plava linija ispod aktivnog filtera */
  color: #007bff;
}
.comm p {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.comm button {
  background-color: white;
  color: black;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 70px;
}
.comUser {
  display: flex;
  gap: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.picAndFollow {
  display: flex;
}
.followers {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  align-items: center;
  color: white;
}
.profileName {
  font-size: 22px;
}
.f {
  display: flex;
  gap: 16px;
  justify-items: center;
}
.fCon1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio {
  margin-top: 80px;
  padding-left: 20px;
  color: white;
  margin-bottom: 40px;
}
.profileCon {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;

  flex: 1;
  margin-right: 36rem;
}
.followAndChat {
  display: flex;
  gap: 20px;
}
.followBtn {
  font-size: 16px;
  color: black;
  font-weight: 700;
  background-color: white;
  border-radius: 8px;
  width: 200px;
  border: 0;
  cursor: pointer;
}
.chatBtn {
  font-size: 16px;
  color: black;
  font-weight: 700;
  background-color: wheat;
  border-radius: 8px;
  width: 70px;
  border: 0;
  cursor: pointer;
}

.userLink:hover {
  cursor: pointer;
  color: #ffd33d;
  border-bottom: 1px solid #ffd33d;
}
.time {
  color: #767676;
}
.choseUpload {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

.choseUpload input {
  border-radius: 20px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
}
.uploadButton {
  width: 100px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
}
.profilePictureContainer {
  border: 1px solid white;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: bold;
  color: #999;
}

.commentImageContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: bold;
  color: #999;
}

.commImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Da slika popuni krug bez izobličenja */
}

.noImageText {
  margin: 0;
}
